# Sentiment Analysis using OpenAI

## Credit 
1) The Dataset was downloaded from Kaggle

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords 
from nltk import NaiveBayesClassifier
from nltk.corpus import wordnet 
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk import pos_tag

In [58]:
from wordcloud import WordCloud

In [41]:
from openai import OpenAI

In [60]:
from transformers import pipeline

ModuleNotFoundError: No module named 'transformers'

## Import pandas library for data manipulation

#  Load the dataset to the platform

In [15]:
text_df = pd.read_csv("datasets/Clothing reviews.csv")

In order to view the data, how they are arranged we can use the head() function which shows the first 5 rows of data. To see the last five we use iris.head(-5)

In [18]:
text_df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [19]:
text_df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

select all rows with NaN values in Pandas DataFrame  Using isnull() to select all rows with NaN under a single DataFrame column

In [6]:
# text_df.isnull().count()

In [29]:
# Load sentiment analysis pipeline from Hugging Face Transformers
sentiment_classifier = pipeline("sentiment-analysis")

# Sample DataFrame with text data
data = {
    'Text': ['I love this product!', 'This movie is terrible.', 'The weather is nice.']
}
df = pd.DataFrame(data)

# Perform sentiment analysis for each text in the DataFrame
sentiment_scores = []
for text in df['Text']:
    result = sentiment_classifier(text)
    sentiment_scores.append(result[0]['label'])

# Add sentiment scores to DataFrame
df['Sentiment'] = sentiment_scores

# Display the DataFrame
print(df)

SyntaxError: invalid syntax (1049000108.py, line 1)

In [7]:
# text_df.dropna(inplace=True)

Convert all the numeric series to float datatype. This is to avoid situations that the entries are read as string